<div block="about-game" mods="blocks-5">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="items" class="js-mobile-slider">
                <div elem="item" class="js-about-game-item" style="background-image: url('img/game-img.png');">
                    <div elem="body">
                        <h2 elem="title">Reshuffle every hand</h2>
                        <div elem="content">
                            <div elem="text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                                </p>
                            </div>
                            <ul elem="list">
                                <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                                <li>Risus commodo viverra maecenas accumsan</li>
                                <li>Risus commodo viverra</li>
                            </ul>
                        </div>
                        <button elem="btn-more" class="js-btn-more" type="button">Learn more</button>
                        <a elem="btn-join" mods="btn-join-item" href="#">Join</a>
                        <div elem="scroll"><img src="img/scroll-pic.png" alt=""></div>
                    </div>
                </div>
                <div elem="item" class="js-about-game-item" style="background-image: url('img/game-img2.png');">
                    <div elem="body">
                        <h2 elem="title">Split up to 2 hands</h2>
                        <div elem="content">
                            <div elem="text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                                </p>
                            </div>
                            <ul elem="list">
                                <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                                <li>Risus commodo viverra maecenas accumsan</li>
                                <li>Risus commodo viverra</li>
                            </ul>
                        </div>
                        <button elem="btn-more" class="js-btn-more" type="button">Learn more</button>
                        <a elem="btn-join" mods="btn-join-item" href="#">Join</a>
                        <div elem="scroll"><img src="img/scroll-pic.png" alt=""></div>
                    </div>
                </div>
                <div elem="item" class="js-about-game-item" style="background-image: url('img/game-img3.png');">
                    <div elem="body">
                        <h2 elem="title">Can double after split</h2>
                        <div elem="content">
                            <div elem="text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                                </p>
                            </div>
                            <ul elem="list">
                                <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                                <li>Risus commodo viverra maecenas accumsan</li>
                                <li>Risus commodo viverra</li>
                            </ul>
                        </div>
                        <button elem="btn-more" class="js-btn-more" type="button">Learn more</button>
                        <a elem="btn-join" mods="btn-join-item" href="#">Join</a>
                        <div elem="scroll"><img src="img/scroll-pic.png" alt=""></div>
                    </div>
                </div>
                <div elem="item" class="js-about-game-item" style="background-image: url('img/game-img4.png');">
                    <div elem="body">
                        <h2 elem="title">Generous bonuses</h2>
                        <div elem="content">
                            <div elem="text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                                </p>
                            </div>
                            <ul elem="list">
                                <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                                <li>Risus commodo viverra maecenas accumsan</li>
                                <li>Risus commodo viverra</li>
                            </ul>
                        </div>
                        <button elem="btn-more" class="js-btn-more" type="button">Learn more</button>
                        <a elem="btn-join" mods="btn-join-item" href="#">Join</a>
                        <div elem="scroll"><img src="img/scroll-pic.png" alt=""></div>
                    </div>
                </div>
                <div elem="item" class="js-about-game-item" style="background-image: url('img/game-img.png');">
                    <div elem="body">
                        <h2 elem="title">Reshuffle every hand</h2>
                        <div elem="content">
                            <div elem="text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                                </p>
                            </div>
                            <ul elem="list">
                                <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                                <li>Risus commodo viverra maecenas accumsan</li>
                                <li>Risus commodo viverra</li>
                            </ul>
                        </div>
                        <button elem="btn-more" class="js-btn-more" type="button">Learn more</button>
                        <a elem="btn-join" mods="btn-join-item" href="#">Join</a>
                        <div elem="scroll"><img src="img/scroll-pic.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div elem="bottom">
                <a elem="btn-join" href="#">Join</a>
            </div>
        </div>
    </div>
</div><!-- about-game -->