.about-game

    &--blocks-3
        
        & ^[0]

            &__item
            
                &.is-active-item
                    padding 0 15%

            &__body
                padding-right 60px
                padding-left 60px

    &--blocks-5
        
        & ^[0]

            &__item
            
                &.is-active-item
                    padding 0 8%

            &__body
                padding-right 40px
                padding-left 40px

    &__section
        @media (max-width 767px)
            padding-left 15px
            padding-right 15px         

    &__items
        display flex
        justify-content space-between
        padding-top 35px
        padding-bottom 35px

        .slick-slide
            padding-bottom 35px
            @media (max-width 767px)
                padding-top 95px

            @media (max-width 439px)
                padding-bottom 15px

        @media (max-width 1919px)
            width 768px
            max-width 100%
            margin 0 auto
            display block
            // overflow-y auto
            // height 800px

        @media (max-width 767px)
            padding-top 0
            padding-bottom 0

    &__item
        // flex 0 0 32%
        // width 32%
        // max-width 32%
        flex-basis 100%
        height 745px
        background-repeat no-repeat
        background-size cover
        box-shadow 0 9px 10px rgba(29, 41, 76, 0.24)
        border-radius 50px
        margin-right 30px
        background-position 50% 50%
        transition padding .3s
        overflow hidden
        position relative
        &:hover
            &:before
                @media (min-width 1920px)
                    opacity 1
        
        &:last-child
            margin-right 0

        &:before
            content ''    
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-image linear-gradient(-6deg, rgba(27, 48, 95, 0.21) 0%, rgba(42, 62, 115, 0.61) 62%, rgba(114, 26, 159, 0.85) 100%)
            transition opacity .3s
            opacity 0
            @media (max-width 767px)
                display none
        &:after
            content ''    
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-image linear-gradient(-6deg, rgba(27, 48, 95, 0.21) 0%, rgba(17, 34, 73, 0.85) 100%)
            transition opacity .3s
            opacity 0
            z-index 4
            @media (max-width 767px)
                display none

        &.is-active-item
            padding 0 11%
            &:before
                opacity 1
        
        &.is-not-active-item
            &:after
                opacity 1

        @media (min-width 1920px)
            cursor pointer

        @media (max-width 1919px)
            width 768px
            max-width 100%
            height 600px
            margin 0 auto !important

        @media (max-width 767px)
            height 490px  
            width 290px
            margin-bottom 35px

        @media (max-width 480px)
            border-radius 25px    

        @media (max-width 439px)
            height 380px


    &__body
        color #fff
        padding-top 170px
        padding-right 50px
        padding-left 50px    
        position absolute
        left 0
        z-index 5

        @media (max-width 1919px)
            padding-top 100px
            padding-bottom 25px
            display flex
            flex-direction column
            height 100%
            position static

        @media (max-width 767px)
            padding-top 50px
            padding-right 25px !important
            padding-bottom 30px
            padding-left 25px !important
            text-align center

        @media (max-width 439px)
            padding 15px 10px 

    &__title
        font-size 49px
        font-weight 700
        line-height 54px    
        margin-bottom 25px
        width 290px
        max-width 100%
        position relative
        &:after
            content ''
            position absolute
            bottom -20px
            left 50%
            transform translateX(-50%)
            width 30px
            height 5px
            background-color #9f0bd1
            border-radius 5px
            display none
            z-index 5

            @media (max-width 767px)    
                display block

        @media (max-width 1919px)
            width 100%
        
        @media (max-width 767px)    
            font-size 34px
            line-height 33px
            margin-bottom 35px

        @media (max-width 439px)
            font-size 28px    
            line-height 30px
            margin-bottom 25px

    &__content
        font-size 17px
        color #fff
        font-weight 400
        line-height 26px
        display none 

        @media (max-width 1919px)
            display block

        @media (max-width 767px)    
            font-size 15px
            line-height 24px    

        @media (max-width 439px)
            font-size 14px
            line-height 18px    

    &__text
        margin-top 10px
        margin-bottom 35px

        p 
            &:last-child
                margin-bottom 0

    &__list
        list-style-type none
        padding-left 35px
        margin-bottom 30px       

        li
            padding-left 25px
            position relative
            margin-bottom 20px
            &:before
                content ''
                position absolute
                top 8px
                left 0
                width 11px
                height 11px
                background-color #b548ff
                border-radius 50%

        @media (max-width 767px)
            display none        

    &__btn-more
        font-size 15px
        color #ffffff
        font-weight 700
        line-height 30px
        border 1px solid #6f84bb
        background-color transparent
        border-radius 50px
        padding 5px 15px 5px 30px
        position relative
        transition background-color .3s, border-color .3s
        &:before
            content ''
            position absolute
            top 15px
            left 15px
            width 0
            height 0
            border-style solid
            border-width 4.5px 0 4.5px 6px
            border-color transparent transparent transparent #ffffff
            transition transform .3s, border-color .3s
        &.is-active-btn
            &:before   
                transform rotate(180deg)
                border-color transparent transparent transparent #df6cff

        &:hover
            background-color #9e11c2    
            border-color #9e11c2

        @media (max-width 1919px)
            display none    

    &__bottom
        position fixed
        bottom 250px
        left 50%
        transform translateX(-50%)    
        z-index 10

        @media (max-width 1919px)
            display none

        // @media (max-width 1440px)
        //     bottom 80px

        // @media (max-width 1366px)
        //     bottom 25px

        

    &__btn-join
        font-size 22px
        color #fff
        font-weight 500
        line-height 30px
        text-align center
        width 310px
        max-width 100%
        padding 15px
        margin 0 auto
        display block
        border 8px solid rgba(100, 43, 122, 0.6)
        border-radius 50px
        box-shadow 2px 3px 13px rgba(69, 55, 144, 0.49), inset 1px 1px 0 rgba(255, 255, 255, 0.2)
        background-image linear-gradient(to top, #9116ab 0%, #ab0bd9 100%)    
        position relative
        &:before
            content ''
            position absolute
            top 10px
            left 10px
            width 22px
            height 19px
            background url('../img/btn-elem-bg.png') 0 0 no-repeat
        &:after
            content ''
            position absolute
            top 25px
            left 100px
            width 0
            height 0
            border-style solid
            border-width 4.5px 0 4.5px 6px
            border-color transparent transparent transparent #ffffff    

        &--btn-join-item
            font-size 16px
            line-height 21px
            width 220px
            padding-top 10px
            padding-bottom 10px
            margin-top auto
            display none
            &:before
                top 8px
                left 8px
            &:after
                top 15px
                left 70px

            @media (max-width 1919px)
                display block

        &:hover
            color #fff
            text-decoration none
            background-image linear-gradient(to top, #ad25ca 0%, #c521f4 51%, #c521f4 99%, #c521f4 100%)    

    &__scroll
        position absolute
        bottom 100px 
        left 50%
        transform translateX(-50%) 

        @media (min-width 1920px)
            display none      

        @media (max-width 439px)
            bottom 85px