::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}

:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Gotham Pro",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Gotham Pro",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.woff2") format('woff2'), url("../fonts/GothamPro.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.woff2") format('woff2'), url("../fonts/GothamPro-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.woff2") format('woff2'), url("../fonts/GothamPro-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: $appGutter 0;
  background: #ccc;
  color: #000;
  padding: $appGutter 0;
}

.theme-color {
  color: ;
}

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 ;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-footer {
  -ms-flex: none;
      flex: none;
  background-color: #1b2f5c;
}

.app-footer__section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-footer__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.app-footer__logo {
  -ms-flex: 0 0 80px;
      flex: 0 0 80px;
  width: 80px;
  max-width: 80px;
}

.app-footer__logo img {
  max-width: 100%;
  height: auto;
}

.app-footer__text-info {
  font-size: 13px;
  color: #4b6399;
  font-weight: 400;
  line-height: 20px;
  width: 960px;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  margin-left: 40px;
  margin-right: 110px;
  border-left: 1px dashed #284178;
}

.app-footer__text-info p {
  margin-bottom: 0;
}

.app-footer__links {
  display: -ms-flexbox;
  display: flex;
}

.app-footer__links a {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  margin-right: 40px;
  transition: color 0.3s;
}

.app-footer__links a:last-child {
  margin-right: 0;
}

.app-footer__links a:hover {
  color: #6185d8;
  text-decoration: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app.black-jack {
  background-color: #3d3584;
}

.app.black-jack .app__main {
  background: url("../img/general-bg.png") 0 0 no-repeat;
  background-size: cover;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

* {
  outline: none !important;
}

.full-contain {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.about-game--blocks-3 .about-game__item.is-active-item {
  padding: 0 15%;
}

.about-game--blocks-3 .about-game__body {
  padding-right: 60px;
  padding-left: 60px;
}

.about-game--blocks-5 .about-game__item.is-active-item {
  padding: 0 8%;
}

.about-game--blocks-5 .about-game__body {
  padding-right: 40px;
  padding-left: 40px;
}

.about-game__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.about-game__items .slick-slide {
  padding-bottom: 35px;
}

.about-game__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 745px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 9px 10px rgba(29,41,76,0.24);
  border-radius: 50px;
  margin-right: 30px;
  background-position: 50% 50%;
  transition: padding 0.3s;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.about-game__item:last-child {
  margin-right: 0;
}

.about-game__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-6deg, rgba(27,48,95,0.21) 0%, rgba(42,62,115,0.61) 62%, rgba(114,26,159,0.85) 100%);
  transition: opacity 0.3s;
  opacity: 0;
}

.about-game__item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-6deg, rgba(27,48,95,0.21) 0%, rgba(17,34,73,0.85) 100%);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 4;
}

.about-game__item.is-active-item {
  padding: 0 11%;
}

.about-game__item.is-active-item:before {
  opacity: 1;
}

.about-game__item.is-not-active-item:after {
  opacity: 1;
}

.about-game__body {
  color: #fff;
  padding-top: 170px;
  padding-right: 50px;
  padding-left: 50px;
  position: absolute;
  left: 0;
  z-index: 5;
}

.about-game__title {
  font-size: 49px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 25px;
  width: 290px;
  max-width: 100%;
  position: relative;
}

.about-game__title:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background-color: #9f0bd1;
  border-radius: 5px;
  display: none;
  z-index: 5;
}

.about-game__content {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
  display: none;
}

.about-game__text {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about-game__text p:last-child {
  margin-bottom: 0;
}

.about-game__list {
  list-style-type: none;
  padding-left: 35px;
  margin-bottom: 30px;
}

.about-game__list li {
  padding-left: 25px;
  position: relative;
  margin-bottom: 20px;
}

.about-game__list li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 11px;
  height: 11px;
  background-color: #b548ff;
  border-radius: 50%;
}

.about-game__btn-more {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  border: 1px solid #6f84bb;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px 15px 5px 30px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.about-game__btn-more:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent #fff;
  transition: border-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, border-color 0.3s;
  transition: transform 0.3s, border-color 0.3s, -webkit-transform 0.3s;
}

.about-game__btn-more.is-active-btn:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: transparent transparent transparent #df6cff;
}

.about-game__btn-more:hover {
  background-color: #9e11c2;
  border-color: #9e11c2;
}

.about-game__bottom {
  position: fixed;
  bottom: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.about-game__btn-join {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  width: 310px;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
  display: block;
  border: 8px solid rgba(100,43,122,0.6);
  border-radius: 50px;
  box-shadow: 2px 3px 13px rgba(69,55,144,0.49), inset 1px 1px 0 rgba(255,255,255,0.2);
  background-image: linear-gradient(to top, #9116ab 0%, #ab0bd9 100%);
  position: relative;
}

.about-game__btn-join:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 19px;
  background: url("../img/btn-elem-bg.png") 0 0 no-repeat;
}

.about-game__btn-join:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent #fff;
}

.about-game__btn-join--btn-join-item {
  font-size: 16px;
  line-height: 21px;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  display: none;
}

.about-game__btn-join--btn-join-item:before {
  top: 8px;
  left: 8px;
}

.about-game__btn-join--btn-join-item:after {
  top: 15px;
  left: 70px;
}

.about-game__btn-join:hover {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(to top, #ad25ca 0%, #c521f4 51%, #c521f4 99%, #c521f4 100%);
}

.about-game__scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.logo {
  position: fixed;
  top: -100px;
  width: 100%;
  z-index: 50;
}

.logo:before {
  content: '';
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #453793;
}

.logo__section {
  text-align: center;
  width: 685px;
  height: 250px;
  background: url("../img/logo-bg.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

.logo__name {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 15px;
}

.logo__name:hover {
  color: #fff;
  text-decoration: none;
}

.logo__name span {
  color: #a480ff;
  font-weight: 400;
}

.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}

.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 1920px) {
  .about-game__item:hover:before {
    opacity: 1;
  }

  .about-game__item {
    cursor: pointer;
  }

  .about-game__scroll {
    display: none;
  }
}

@media (max-width: 1919px) {
  .about-game__items {
    width: 768px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  .about-game__item {
    width: 768px;
    max-width: 100%;
    height: 600px;
    margin: 0 auto !important;
  }

  .about-game__body {
    padding-top: 100px;
    padding-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100%;
    position: static;
  }

  .about-game__title {
    width: 100%;
  }

  .about-game__content {
    display: block;
  }

  .about-game__btn-more {
    display: none;
  }

  .about-game__bottom {
    display: none;
  }

  .about-game__btn-join--btn-join-item {
    display: block;
  }
}

@media (max-width: 1599px) {
  .app-footer__text-info {
    width: 768px;
  }
}

@media (max-width: 1330px) {
  .app-footer__text-info {
    width: 400px;
  }
}

@media (max-width: 1023px) {
  .app-footer__section {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  .app-footer__inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .app-footer__logo {
    -ms-flex: none;
        flex: none;
    margin-bottom: 35px;
  }

  .app-footer__text-info {
    text-align: center;
    padding-left: 0;
    border-left: none;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .about-game__section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about-game__items .slick-slide {
    padding-top: 95px;
  }

  .about-game__items {
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-game__item:before {
    display: none;
  }

  .about-game__item:after {
    display: none;
  }

  .about-game__item {
    height: 490px;
    width: 290px;
    margin-bottom: 35px;
  }

  .about-game__body {
    padding-top: 50px;
    padding-right: 25px !important;
    padding-bottom: 30px;
    padding-left: 25px !important;
    text-align: center;
  }

  .about-game__title:after {
    display: block;
  }

  .about-game__title {
    font-size: 34px;
    line-height: 33px;
    margin-bottom: 35px;
  }

  .about-game__content {
    font-size: 15px;
    line-height: 24px;
  }

  .about-game__list {
    display: none;
  }

  .logo:before {
    display: none;
  }

  .logo {
    top: 0;
    border-top: 5px solid #513f95;
  }

  .logo__section {
    width: 100%;
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 1px 6px 7px rgba(0,0,0,0.14);
    background: url("../img/logo-bg.png") 50% 55% no-repeat;
    background-size: 200%;
  }

  .logo__name {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .about-game__item {
    border-radius: 25px;
  }
}

@media (max-width: 439px) {
  .app-footer__section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .app-footer__logo {
    margin-bottom: 20px;
  }

  .app-footer__links {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .app-footer__links a {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .about-game__items .slick-slide {
    padding-bottom: 15px;
  }

  .about-game__item {
    height: 380px;
  }

  .about-game__body {
    padding: 15px 10px;
  }

  .about-game__title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .about-game__content {
    font-size: 14px;
    line-height: 18px;
  }

  .about-game__scroll {
    bottom: 85px;
  }

  .logo__name {
    font-size: 22px;
  }
}