.app-footer
    flex none
    background-color #1b2f5c

    &__section 
        padding-top 20px
        padding-bottom 20px

        @media (max-width 1023px)
            padding-top 45px
            padding-bottom 35px

        @media (max-width 439px)
            padding-top 25px
            padding-bottom 25px    

    &__inner
        display flex
        align-items center 

        @media (max-width 1023px)
            flex-direction column

    &__logo
        flex 0 0 80px
        width 80px
        max-width 80px

        @media (max-width 1023px)
            flex none
            margin-bottom 35px

        @media (max-width 439px)
            margin-bottom 20px    

        img 
            max-width 100%
            height auto    

    &__text-info
        font-size 13px
        color #4b6399
        font-weight 400
        line-height 20px    
        width 960px
        max-width 100%
        padding-top 5px
        padding-bottom 5px
        padding-left 40px
        margin-left 40px
        margin-right 110px
        border-left 1px dashed #284178

        p
            margin-bottom 0

        @media (max-width 1599px)
            width 768px

        @media (max-width 1330px)
            width 400px    

        @media (max-width 1023px)
            text-align center
            padding-left 0
            border-left none
            margin-right 0
            margin-left 0
            margin-bottom 35px    

    &__links
        display flex

        @media (max-width 439px)
            flex-direction column

        a
            font-size 13px
            color #fff
            font-weight 400
            line-height 20px
            text-decoration underline        
            margin-right 40px
            transition color .3s
            &:last-child
                margin-right 0

            &:hover
                color #6185d8
                text-decoration none   

            @media (max-width 439px)
                margin-right 0
                margin-bottom 15px     