<footer block="app-footer">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <a elem="logo" href="/"><img src="img/logo.png" alt=""></a>
            <div elem="text-info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                </p>
            </div>
            <div elem="links">
                <a href="#">Link name</a>
                <a href="#">Link name</a>
                <a href="#">Link name</a>
            </div>
        </div>
    </div>
</footer><!-- b:app-footer -->
