.logo
    position fixed
    top -100px
    width 100%
    z-index 50
    &:before
        content ''
        position absolute
        top 100px
        left 0
        width 100%
        height 5px
        background-color #453793

        @media (max-width 767px)
            display none

    @media (max-width 767px)
        top 0 
        border-top 5px solid #513f95 

    &__section
        text-align center
        width 685px
        height 250px
        background url('../img/logo-bg.png') 0 0 no-repeat
        background-size cover
        position relative
        margin 0 auto

        @media (max-width 767px)
            width 100%
            height auto
            padding-top 18px
            padding-bottom 18px
            box-shadow 1px 6px 7px rgba(0, 0, 0, 0.14)
            background url(../img/logo-bg.png) 50% 55% no-repeat
            background-size 200%

    &__name
        font-size 35px
        color #fff
        font-weight 500
        line-height 30px
        text-align center
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 100%
        margin-top 15px
        &:hover
            color #fff
            text-decoration none

        span 
            color #a480ff
            font-weight 400

        @media (max-width 767px)
            position static
            transform none
            margin-top 0    

        @media (max-width 439px)
            font-size 22px