html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &.black-jack
        background-color #3d3584

        & ^[0]
            &__main
                background url('../img/general-bg.png') 0 0 no-repeat
                background-size cover

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

*
    outline none !important

.full-contain
    width 1920px
    max-width 100%
    margin 0 auto
    padding-right 30px
    padding-left 30px